<main>

  <nav class=" d-flex justify-content-between mx-4 my-2">

    <div class="nav nav-tabs" id="nav-tab" role="tablist">

      <a class="nav-item nav-link" id="basic-info-tab" data-toggle="tab" href="#basic-info" role="tab" aria-controls="basic-info" aria-selected="false">Основная информация</a>

      <a class="nav-item nav-link active" id="edit-profile-tab" data-toggle="tab" href="#edit-profile" role="tab" aria-controls="edit-profile" aria-selected="true">Редактировать профиль</a>

      <a class="nav-item nav-link" id="delivery-address-tab" data-toggle="tab" href="#delivery-address" role="tab" aria-controls="delivery-address" aria-selected="false">Адрес доставки</a>

      <a class="nav-item nav-link" id="order-history-tab" data-toggle="tab" href="#order-history" role="tab" aria-controls="order-history" aria-selected="false">История заказов</a>

      <a class="nav-item nav-link" id="favourites-tab" data-toggle="tab" href="#favourites" role="tab" aria-controls="favourites" aria-selected="false">Избранное</a>
    </div>
    <div class="pr-3 pt-1"><h5>Личный кабинет</h5></div>
  </nav>

  <div class="tab-content" id="nav-tabContent">

    <!-- EDIT-PROFILE-FORM -->
    <div class="tab-pane fade show active" id="edit-profile" role="tabpanel" aria-labelledby="edit-profile-tab">
      <div class="d-flex justify-content-center m-5">
        <form class="data-edit-form">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>
          <h5 class="mb-3">Изменение личных данных</h5>
          <hr class="mb-4">

          <div class="form-group row form-inline">
            <label for="inputEmail" class="col-sm-4 col-form-label">Ваш email</label>
            <div class="col-sm-8">
              <%= f.input :email, input_html: { class:"form-control" }, autofocus: true, label: false, :placeholder => 'Email' %>
            </div>
          </div>

          <div class="form-group row form-inline">
            <label for="inputName" class="col-sm-4 col-form-label">Ваше имя</label>
            <div class="col-sm-8">
              <%= f.input :name, required: true,input_html: { autocomplete: "Имя", class:"form-control" },label: false, :placeholder => 'Имя'%>
            </div>
          </div>

          <h5 class="mt-5 mb-0">Изменение пароля</h5>
          <small class="text-muted">Если не хотите менять пароль - оставте эти поля пустыми</small>
          <hr class="mb-4">

          <div class="form-group row form-inline">
            <label for="inputPassword" class="col-sm-4 col-form-label">Новый пароль</label>
            <div class="col-sm-4">
              <%= f.input :password, input_html: { autocomplete: "new-password", class:"form-control"}, label: false, :placeholder => 'Новый пароль'%>
            </div>
            <div class="col-sm-4 fix">
             <small class="text-muted">
              Не менее 6 символов.
            </small>
          </div>
        </div>

        <div class="form-group row form-inline">
          <label for="inputPassword2" class="col-sm-4 col-form-label">Новый пароль еще раз</label>
          <div class="col-sm-4">
            <%= f.input :password_confirmation,required: false, input_html: { autocomplete: "new-password",class:"form-control" }, label: false, :placeholder => 'Новый пароль еще раз'%>
          </div>
        </div>

        <div class="form-group row form-inline">
          <label for="inputPassword3" class="col-sm-4 col-form-label">Текущий пароль</label>
          <div class="col-sm-4">
            <%= f.input :current_password, required: true, input_html: { autocomplete: "current-password", class:"form-control"},label: false, :placeholder => 'Текущий пароль'%>

          </div>
          <div class="col-sm-4 fix">
              <small class="text-muted">
              Для подтверждения изменения данных.
            </small>
          </div>
        </div>

        <hr class="mb-4 mt-5">
        <div class="form-group row">
          <div class="col-sm-8">
            <%= f.button :submit, "Сохранить изменения", class: 'btn btn-mint btn-lg' %>
            <small class="text-muted">
             <%= link_to "Удалить аккаунт",  registration_path(resource_name), data: { confirm: "Ты уверен?" }, method: :delete, class: 'nav-link pl-0 pt-3' %>
           </small>
         </div>
       </div>
     </form>
   </div>
 </div>
 <%end%>

 <!-- OTHER-TABS  -->
 <div class="tab-pane fade" id="basic-info" role="tabpanel" aria-labelledby="basic-info-tab">Основнаяя информация</div>
 <div class="tab-pane fade" id="delivery-address" role="tabpanel" aria-labelledby="delivery-address-tab">Адрес доставки</div>
 <div class="tab-pane fade" id="order-history" role="tabpanel" aria-labelledby="order-history-tab">История заказов</div>
 <div class="tab-pane fade" id="favourites" role="tabpanel" aria-labelledby="favourites-tab">Избранное</div>
</div>

</main>
