  <div class="container d-flex flex-column align-items-center">

      <h1 class="mt-5 mb-4">Регистрация</h1>

      <div class="card" style="width: 19rem;">
        <div class="card-body">
          <form class="form-signin needs-validation" novalidate>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>


        <%= f.input :name, required: true, autofocus: true, input_html: { class:"form-control mb-4" }, wrapper: false, label: false, :placeholder => 'Ваше имя' %>

        <%= f.input :email, required: true, input_html: { class:"form-control mb-2" }, wrapper: false,  label: false, :placeholder => 'Ваш email', hint: 'Не менее 6 символов'%>

        <%= f.input :password, required: true, input_html: { class:"form-control mb-4 pass" }, wrapper: false, label: false, :placeholder => 'Пароль'  %>


            <%= f.input :password_confirmation, required: true, input_html: { class: "form-control mb-4 pass2" }, wrapper: false, label: false, :placeholder => 'Подтверждение пароля' %>



            <%= f.button :submit, "Зарегистрироваться", class:"btn btn-lg btn-mint btn-block" %>


      </form>
        </div>
        <div class="card-footer" style="padding: 0.5rem;">
          <small class="text-muted">
            <%= link_to 'У меня есть аккаунт!',new_customer_session_path, class: "nav-link"%>
          </small>
        </div>
      </div>
    </div>
    <% end %>
  </main>
