<div class="container-fluid filters border-bottom justify-content-between">
    <div class="row px-4 pt-4">
      <div class="col">
        <form>
          <div class="form-group">
            <ul class="navbar-nav flex-row">
              <li class="nav-item dropdown pr-4">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Вид
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <span class="dropdown-item-text">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">Красный</label>
                  </span>
                  <span class="dropdown-item-text">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                    <label class="form-check-label" for="defaultCheck2">Зеленый</label>
                  </span>
                  <span class="dropdown-item-text">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                    <label class="form-check-label" for="defaultCheck3">Белый</label>
                  </span>
                  <span class="dropdown-item-text">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                    <label class="form-check-label" for="defaultCheck4">Улун</label>
                  </span>
                  <span class="dropdown-item-text">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
                    <label class="form-check-label" for="defaultCheck5">Пуэр</label>
                  </span>
                  <span class="dropdown-item-text">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
                    <label class="form-check-label" for="defaultCheck6">Желтый</label>
                  </span>
                </div>
              </li>
              <li class="nav-item dropdown pr-4">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Фасовка
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <span class="dropdown-item-text">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck7">
                    <label class="form-check-label" for="defaultCheck7">Рассыпной</label>
                  </span>
                  <span class="dropdown-item-text">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck8">
                    <label class="form-check-label" for="defaultCheck8">Прессованный</label>
                  </span>
                </div>
              </li>
              <li class="nav-item dropdown pr-4">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Страна
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <span class="dropdown-item-text">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck9">
                    <label class="form-check-label" for="defaultCheck9">Китай</label>
                  </span>
                  <span class="dropdown-item-text">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck10">
                    <label class="form-check-label" for="defaultCheck10">Россия</label>
                  </span>
                  <span class="dropdown-item-text">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck11">
                    <label class="form-check-label" for="defaultCheck11">Индия</label>
                  </span>
                  <span class="dropdown-item-text">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck12">
                    <label class="form-check-label" for="defaultCheck12">Шриланка</label>
                  </span>
                  <span class="dropdown-item-text">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck13">
                    <label class="form-check-label" for="defaultCheck13">Япония</label>
                  </span>
                </div>
              </li>
              <li class="nav-item dropdown pr-4">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Цена
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <span class="dropdown-item-text">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck14">
                    <label class="form-check-label" for="defaultCheck14">0 - 300&#8381</label>
                  </span>
                  <span class="dropdown-item-text">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck15">
                    <label class="form-check-label" for="defaultCheck15">300 - 500&#8381</label>
                  </span>
                  <span class="dropdown-item-text">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck16">
                    <label class="form-check-label" for="defaultCheck16">500 - 1000&#8381</label>
                  </span>
                  <span class="dropdown-item-text">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck17">
                    <label class="form-check-label" for="defaultCheck17">1000 - 1500&#8381</label>
                  </span>
                  <span class="dropdown-item-text">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck18">
                    <label class="form-check-label" for="defaultCheck18">1500&#8381+</label>
                  </span>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Ароматизация
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Ароматизированный</a>
                  <a class="dropdown-item" href="#">Без ароматизации</a>
                </div>
              </li>
              <button type="submit" class="btn btn-filtr ml-4 mr-3">Применить</button>
              <button type="reset" class="btn btn-filtr">Очистить</button>
            </ul>
          </div>

        </form>
      </div>
      <div class="col">
        <p class="float-md-right select">
          <select>
            <option>Цена (по возрастанию)</option>
            <option>Цена (по убыванию)</option>
            <option>По популярности</option>
            <option>По названию</option>
          </select>
          <div class="select-arrow"></div>
        </p>
      </div>
    </div>
    <div class="row px-4">
      <div class="col">
        <div class="d-flex">
          <a href="#" class="tag badge badge-pill white-tea tag-product">Белый</a>
          <a href="#" class="tag badge badge-pill country-tea tag-product">Китай</a>
          <a href="#" class="tag badge badge-pill packing-tea tag-product">Рассыпной</a>
          <a href="#" class="tag badge badge-pill price-tea tag-product">до 300&#8381</a>
        </div>
      </div>
    </div>
  </div>

  <!-- CATALOG -->
  <div class="d-flex flex-column">
    <main role="main" class="flex-shrink-0">
      <div class="container">
        <h1 class="m-4">Чай</h1>

        <div class="d-flex flex-row flex-wrap justify-content-start">

         <% @products.each do |product| %>
        <div class="card mx-3">
          <div class="hover ehover1">
            <%= link_to image_tag(product.image_url(:thumb)), product, class:"img-responsive card-img-top" %>
            <div class="overlay d-flex flex-column">
              <div class="in-fav"><a href="#" class="float-right badge">В избранное</a></div>
              <div class="eye"><i><%= link_to '', product_path(product), class: "fas fa-eye"%></i>
               <br> <%= link_to 'Подробнее', product_path(product), class: "font-eye"%></div>

            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= link_to product.title, product, class:"" %></h5>
            <p class="card-text"><%=product.small_description%></p>
            <div class="container-fluid align-items-center">

              <a href="#" class="tag badge badge-pill white-tea">Белый</a>
              <a href="#" class="tag badge badge-pill discount">-30%</a>
              <p class="float-right wt">50г</p>
            </div>
            <div><hr class="featurette-divider"></div>

            <div class="container-fluid">
              <span class="card-text price"><%= number_to_currency(product.price,:locale => :ru) %></span>
              <%= button_to 'В корзину', line_items_path(product_id: product), class: 'in-cart btn float-right' %>
            </div>
          </div>
        </div>
        <% end %>
      </div>


          </div>

        </div>

        <div class="d-flex justify-content-center">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>

      </main>
