<main class="contacts h-100">

    <h1>Контакты</h1>
    <div class="d-flex justify-content-center">
      <div class="d-flex flex-row">
        <div class="d-flex flex-column justify-content-center">
          <div class="d-flex justify-content-center flex-column align-items-center">
            <div class="contacts-info">
              <h5>Адрес магазина:</h5>
              <p>г. Архангельск ул. 1-я Чайная 1а,</p>
            </div>
            <div class="gradient-stick"></div>
          </div>

          <div class="d-flex justify-content-center flex-column align-items-center">
            <div class="contacts-info">
              <h5>Время работы:</h5>
              <p>11:00-21:00 без выходных дней </p>
            </div>
            <div class="gradient-stick"></div>
          </div>

          <div class="d-flex justify-content-center flex-column align-items-center">
            <div class="contacts-info">
              <h5>Телефон:</h5>
              <p>8 (926) 049 90 79</p>
              <p>7 (977) 802-42-58 </p>
            </div>
            <div class="gradient-stick"></div>
          </div>

        </div>
      </div>

      <div class="d-flex flex-row">
        <div class="d-flex flex-column justify-content-center">
          <div class="d-flex justify-content-center flex-column align-items-center">
            <div class="contacts-info">
              <h5>Email для предложений:</h5>
              <p>teastory@gmail.com</p>
            </div>
            <div class="gradient-stick"></div>
          </div>

          <div class="d-flex justify-content-center flex-column align-items-center">
            <div class="contacts-info">
              <h5>Консультации по выбору:</h5>
              <p>consult-teastory@gmail.com</p>
            </div>
            <div class="gradient-stick"></div>
          </div>

          <div class="d-flex justify-content-center flex-column align-items-center">
            <div class="contacts-info">
              <h5>Информация об организации:</h5>
              <p>ИП Шафрыгин Иван Олегович </p>
              <p>ИНН 352845870576 </p>
            </div>
            <div class="gradient-stick"></div>
          </div>
        </div>
      </div>
    </div>




  </main>
