  <main class="delivery h-100">

    <h1>Доставка и оплата</h1>
    <div class="d-flex justify-content-center">
      <div class="d-flex flex-row">
        <div class="d-flex flex-column justify-content-center">

         <div class="d-flex justify-content-center flex-column align-items-center">
          <div class="delivery-info">
            <h5>Доставка по России</h5>
            <p>Доставка осуществляется транспортной компанией СДЕК</p>
            <p>Стоимость и сроки доставки уточнайте на сайте <a href="https://www.cdek-calc.ru/">СДЕК</a></p>
            <p>Бесплатная доставка для заказов на сумму от 2000 рублей</p>
          </div>
          <div class="gradient-stick-delivery"></div>
        </div>

        <div class="d-flex justify-content-center flex-column align-items-center">
          <div class="delivery-info">
            <h5>Доставка по Архангельску</h5>
            <p>Стоимость доставки - 100 рублей</p>
            <p>Бесплатная доставка для заказов на сумму от 1000 рублей</p>
          </div>
          <div class="gradient-stick-delivery"></div>
        </div>

        <div class="d-flex justify-content-center flex-column align-items-center">
          <div class="delivery-info">
            <h5>Самовывоз</h5>
            <p>Бесплатно от любой суммы</p>
            <p>Забрать можно в нашем магазине</p>
          </div>
          <div class="gradient-stick-delivery"></div>
        </div>


      </div>
    </div>

    <div class="d-flex flex-row">
      <div class="d-flex flex-column justify-content-center">
        <div class="d-flex justify-content-center flex-column align-items-center">
          <div class="delivery-info">
            <h5>Сроки доставки</h5>
            <p>Заказ на самовывоз храниться в магазине в течении 5 дней</p>
            <p>Доставка по Архангельску осуществляется в течении 3 дней</p>
          </div>
          <div class="gradient-stick-delivery"></div>
        </div>

        <div class="d-flex justify-content-center flex-column align-items-center">
          <div class="delivery-info">
            <h5>Консультация по доставке:</h5>
            <p>consult-teastory@gmail.com</p>
            <p>8 (926) 049 90 79</p>
          </div>
          <div class="gradient-stick-delivery"></div>
        </div>

        <div class="d-flex justify-content-center flex-column align-items-center">
          <div class="delivery-info">
            <h5>Оплата:</h5>
            <p>Наличные при получении</p>
            <p>Банковской картой Visa, MasterCard</p>
            <p>Сервис Сбербанк ONLINE</p>
          </div>
          <div class="gradient-stick-delivery"></div>
        </div>
      </div>
    </div>
  </div>




</main>
