<main>
  <nav class=" d-flex justify-content-center my-4">

    <div><h4>Корзина</h4></div>
  </nav>
  <div class="m-4">

    <div class="card">

      <div class="card-body">
        <table class="table table-hover text-center">
          <thead class="table-borderless">
            <tr>
              <th scope="col" class="table-item-line"></th>
              <th scope="col">Количество</th>
              <th scope="col">Цена</th>
            </tr>
          </thead>
          <tbody>
            <%= render(@cart.line_items) %>
          </tbody>
        </table>
      </div>

      <div class="card-footer bg-transparent cart-footer">
        <%= button_to 'Продолжить покупки', products_path, class: 'btn btn-xs text-muted my-3 btn-as-link' %>
        <%= button_to 'Очистить корзину', @cart, method: :delete, data: { confirm: "Вы уверены? " }, class: "btn btn-xs text-muted my-3 btn-as-link" %>
        <button class="btn btn-mint float-right mx-4 my-3 btn-order">Оформить заказ</button>
        <div class="float-right my-4"><span class="mr-2">Сумма заказа:</span><span class="mr-3"><%= number_to_currency(@cart.total_price,:locale => :ru) %></span></div>
      </div>
    </div>

  </div>
</main>


