<main>
   <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
   <div class="container d-flex flex-column align-items-center">

    <h1 class="mt-5 mb-4">Личный кабинет</h1>

      <div class="card" style="width: 19rem;">
        <div class="card-body">
          <form class="form-signin needs-validation" novalidate>
          <%= f.input :email, required: false, autofocus: true, :placeholder => 'Ваш email', input_html: { class:"form-control mb-4" }, label: false %>
          <%= f.input :password, required: false, :placeholder => 'Ваш пароль', input_html: { class:"form-control mb-4" }, label: false %>
          <%= f.input :remember_me, label: 'Запомнить меня',input_html: { class:"checkbox mb-3 mr-2" }, as: :boolean if devise_mapping.rememberable? %>
      <%= f.button :submit, "Войти", class:"btn btn-lg btn-mint btn-block"%>
        </form>
      </div>
    <% end %>

      <div class="card-footer" style="padding: 0.5rem;">
        <small class="text-muted">
          <%= render "devise/shared/links" %>
        </small>
      </div>

    </div>
  </div>
</main>


