/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

 @import "bootstrap";

 body {
  background-color: #f1f1f1;
}

.top-bar {
  background-color: #fcfcfc;
  font-size: 9pt;
  color: #a2a2a2;
}

.navbar {
  font-size: 9pt;
  height: 50px;
}

.navbar-brand img {
  padding-left: 10rem;
}

.iz {
  text-align-last: center;
}

.nav-link {
  color: #222222 !important;
  padding: 0;
}
.nav-link:hover {color:  #a2a2a2 !important;}

.carousel-inner {
  height: 600px;
}

.footer {
  background-color: #f8f9fa;
  font-size: 9pt;
}

.slash::after {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  color: #6c757d;
  content: "/";
}

.top-bar i {
  font-size: 7pt;
}

.top-bar a {
  color: #a2a2a2;
  text-decoration: none;
}

.top-bar a:hover {
  color: #222222;
  text-decoration: none;
}

h1 {
  font-size: 23pt;
  color: #222222;
  text-align: center;
}

.underhead {
  font-size: 11pt;
  color: #a2a2a2;
  text-align: center;
}

.main-block {
  margin-bottom: 50px;
}

.about-us {
  text-align: left !important;
  text-indent: 25px;
}

.card-body .container-fluid {
  padding: 0px;
}

.tag {
  color: #fff;
  font-size: 8pt;
  padding: .2em .5em;
}

.tag:hover{
  text-decoration: none;
  color: #fff;
}

.green-tea {background-color: #9abc22;}
.green-tea:hover{background-color: #809b23;}

.white-tea {background-color: #b7b59f;}
.white-tea:hover{background-color: #97957f;}

.oolong-tea {background-color: #d9b964;}
.oolong-tea:hover{background-color: #bda25a;}

.black-tea {background-color: #2baa9b;}
.black-tea:hover{background-color: #56371f;}

.red-tea {background-color: #904227;}
.red-tea:hover{background-color: #602713;}

.discount {background-color: #ff4e4e;}
.discount:hover{background-color: #c73b3b;}

.country-tea {background-color: #5ea6cf;}
.country-tea:hover{background-color: #4e8caf;}

.packing-tea {background-color: #7e63b0;}
.packing-tea:hover{background-color: #624892;}

.year-tea {background-color: #b95396;}
.year-tea:hover{background-color: #954178;}

.price-tea {background-color: #b95396;}
.price-tea:hover{background-color: #954178;}

.in-cart {
  padding: .60em .8em;
  color: #fff;
  background-color: #49c5b6;
  border-radius: 10rem;
}

.in-cart:hover{
  background-color: #2baa9b;
  color: #fff;
  text-decoration: none;
}

.card-title {
  font-size: 12pt;
  margin-bottom: .50rem;
}

.card-text {
  font-size: 9pt;
  color: #a2a2a2;
  margin-bottom: .50rem;
}

.wt {
  font-size: 9pt;
  color: #a2a2a2;
  padding-top: .4em
}


.price {
  font-size: 11pt;
  color: #222222;
}

.price s {
  color: #a2a2a2;
}

.ehover1 {
  height: auto;
}

.in-fav {
  margin-right: 20px;
  margin-top: .80rem;
}

.in-fav a{
  padding: .40em .4em;
  color: #fff;
  background-color: transparent;
  border-style: solid;
  border-color: #fff;
  border-width: 1px;
  border-radius: 10rem;
}

.in-fav a:hover{
  text-decoration: none;
  color: #49c5b6;
  border-color: #49c5b6;
}

.eye {
  margin-top: 10%;
}

.eye a{
  color: #fff;
  font-size: 12pt;
}

.eye a:hover{
  text-decoration: none;
}

.eye i a {
  font-size: 30pt;
}

.card {
  margin-bottom: 50px;
}

.container {
  max-width: 1220px;
}

.footer .nav {
  margin: 1rem;
}

.footer .d-flex {
  margin-bottom: 1rem;
}

.footer .d-flex i {
  font-size: 11pt;
}

.footer .nav-link {
  padding: 0;
}

.button a{
  font-size: 10pt;
  padding: .80em .90em;
  color: #222222;
  background-color: transparent;
  border-style: solid;
  border-color: #222222;
  border-width: 1px;
  border-radius: 10rem;
  margin-bottom: 20px;
}

.button a:hover{
  text-decoration: none;
  color: #fff;
  background-color:  #49c5b6;
  border-color: #49c5b6;
}

.border-info {
  border-color: #49c5b6 !important;
}

/*кнопка для формы*/
.btn-mint {
  color: #fff;
  background-color: #49c5b6;
  border-color: #49c5b6;
}

.btn-mint:hover{
  color: #fff;
  background-color: #2baa9b;
  border-color: #2baa9b;
}

.form-inline label {
  justify-content: flex-start;
}

.data-edit-form {
  width: 50rem;
}

.nav-tabs .nav-link {
  font-size: 9pt;
}

.underhead-form {
  font-size: 9pt;
  color: #a2a2a2;
}

textarea {
  width: 30rem !important;
}

.product-img {
  height: 20rem;
}

.sys-btn {
  color: #222222;
}
.sys-btn:hover {
  color:  #a2a2a2;
  text-decoration: none;
}

.underhead-product-title {
  color: #a2a2a2;
}

.tag-product {
  margin-right: 0.5rem;
}

.button label{
  font-size: 10pt;
  padding: .15em .5em;
  color: #222222;
  background-color: transparent;
  border-style: solid;
  border-color: #222222;
  border-width: 1px;
  border-radius: 10rem;
  margin-right: 0.5rem;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #49c5b6;
  border-color: #49c5b6;
}


.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #49c5b6;
  border-color: #49c5b6;
}

.btn-bay {
  padding: .80em;
  font-size: 10pt;
  color: #fff;
  background-color: #49c5b6;
  border-radius: 10rem;
}

.btn-bay:hover{
  background-color: #2baa9b;
  color: #fff;
  text-decoration: none;
}


.descript-p h4 {
  font-size: 1.5em;
  font-weight: 600;
  padding-bottom: 1em;
}

.descript-p p {
  font-size: 1em;
  padding-bottom: 1em;
}

.filters {
  background-color: #f8f9fa;
  font-size: 9pt;
  color: #a2a2a2;
  min-height: 120px;
}

.filters label {
  font-size: 9pt;
}

.filters .dropdown-item {
  font-size: 9pt;
}
.dropdown-item.active, .dropdown-item:active {
  background-color: #f8f9fa;
  color: #222;
}
.filters .dropdown-item-text {

  display: block;
  padding: 0rem 1.5rem;
  color: #212529;
}
.filters .dropdown-menu {
  min-width: 8rem;
}

.btn-filtr {
  padding: .10em .8em;
  font-size: 9pt;
  font-weight: 700;
  margin-top: .3em;
  color: #fff;
  background-color: #49c5b6;
  border-radius: 10rem;
  max-height: 2.2em;
}

.btn-filtr:hover{
  background-color: #2baa9b;
  color: #fff;
  text-decoration: none;
}

.select-arrow {
  position: absolute;
  top: 1.48em;
  right: 1.5em;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: .33em .33em 0 .33em;
  border-color: #222222 transparent transparent transparent;
}

.select select {
  text-align: right;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #f8f9fa;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.page-link {
  color: #222222;
  background-color: #f1f1f1;
}

.page-link:hover {
  color: #222222;
}

.contacts {
  background: url(coffe-cup1.png);
  box-shadow:0 0 0 100em rgba(11, 34, 57, 0.6) inset;
  padding-bottom: 7rem;
  background-position: right;

}

.contacts h1 {
  color: #e2e2e2;
  margin-top: 3rem;
  margin-bottom: 5rem;
  font-size: 32px;
}


.gradient-stick {
  height: .3em;
  width: 40rem;
  background: radial-gradient(40% 50%, #e2e2e2, transparent);
  margin-top: 1.5rem;
}

.contacts-info {
  color: #e2e2e2;
  text-align: left;
  width: 20rem;
}

.contacts-info p{
  margin: 0;
  font-size: 15px;
  font-weight: 600;
}

.contacts-info h5{
  margin: 1.5rem 0;
  font-size: 21px;
  font-weight: 600;
}

.delivery {
  background: url(china.png);
  box-shadow:0 0 0 100em rgba(0, 0, 0, 0.6) inset;
  padding-bottom: 5rem;
  background-position: center;
}

.delivery h1 {
  color: #e2e2e2;
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-size: 32px;
}
.delivery a {
  color: #04833A;
  text-decoration: none;
}

.delivery a:hover{
  color: #6c757d;
}

.delivery-info {
  color: #e2e2e2;
  text-align: left;
  width: 30rem;
}

.delivery-info p{
  margin: 0;
  font-size: 15px;
  font-weight: 600;
}

.delivery-info h5{
  margin: 1.5rem 0;
  font-size: 21px;
  font-weight: 600;
}

.gradient-stick-delivery {
  height: .3em;
  width: 50rem;
  background: radial-gradient(40% 50%, #e2e2e2, transparent);
  margin-top: 1.5rem;
}

a {
  color: black;
}

.hint {
  color: #a2a2a2;
  font-size: 14px;

}

.container-costil-shirina {
  min-width: 31rem;
}

.col-sm-8{
  padding-left: 0px !important  ;
}

.fix {
  padding-left: 0;
}

.card-title a:hover {
  color: #a2a2a2;
  text-decoration: none;
}

.new_product{
  min-width: 50em;
}

.h-38{
  height: 38px;
}

.in-cart {
  padding: .2em .8em;
  color: #fff;
  background-color: #49c5b6;
  border-radius: 10rem;
  font-size: 12px;
  font-weight: 700;
}

.in-cart:hover{
  background-color: #2baa9b;
  color: #fff;
  text-decoration: none;
}

.btn-bay {
  padding: .6em;
  font-size: 10pt;
  color: #fff;
  background-color: #49c5b6;
  border-radius: 10rem;
  font-weight: 700;
}

.btn-bay:hover{
  background-color: #2baa9b;
  color: #fff;
  text-decoration: none;
}

table img {
  width: 80px;
  height: 80px;
  margin-right: 1em;
}

.table-item-line {
  text-align: left;
}

// .cart-footer > div{
//   position: relative;
//   top: 50%;
//   transform: translateY(-50%);
//   text-align:center;
//   font-size: 13pt;
// }

.btn-as-link:hover {
  text-decoration: none;
  color: #b2b2b2!important;
}

.btn-as-link {
  font-size: 11pt;
  padding-left: 1em;
  padding-right: .3em;
}

.btn:focus {
  outline: 0;
  box-shadow: none;
}

.table td, .table th {
  vertical-align: middle;
}

.card-header-cart {
  font-size: 17pt;
}

.page-link:focus {
  box-shadow: none;
}

.cart-footer form {
  display: inline-flex;
}


.nav-tabs .nav-link {

  padding: 0.5rem 1rem;
}
