<main>
  <div class="d-flex justify-content-center m-5">

    <%= simple_form_for @product, html: { multipart: true } do |f| %>

        <form class="data-edit-form">
          <h5 class="mb-3">Добавление нового товара</h5>
          <hr class="mb-4">

          <div class="form-group row form-inline">
                <%= f.input :title, input_html: { class: "form-control"}, wrapper: false, label_html: { class:"col-sm-4 col-form-label" }, label: "Название"%>
          </div>

          <div class="form-group row form-inline">
              <%= f.input :price, input_html: { class:"col-sm-8, form-control", maxlength: 7  }, wrapper: false, label_html: { class:"col-sm-4 col-form-label"}, label: "Цена"  %>
          </div>


          <div class="form-group row form-inline">
            <label class="col-sm-4 col-form-label" for="inputDiscription">Описание</label>
            <div class="col-sm-8">
            <%= f.input :description, as: :text, input_html: {class:" form-control"}, label: false %>
            </div>
          </div>


          <div class="form-group row form-inline">
            <%= f.input :small_description, input_html:{class:"form-control"}, wrapper: false, label_html: { class:"col-sm-4 col-form-label"}, label: "Перевод"  %>
          </div>

          <div class="form-group row form-inline">
            <label for="inputCountry" class="col-sm-4 col-form-label">Страна</label>
            <%= f.input_field :country, class:"form-control form-control-sm", collection: Product::COUNTRY, prompt: "Выберите страну"%>
          </div>

          <div class="form-group row form-inline">
            <label for="inputPacking" class="col-sm-4 col-form-label">Вид фасовки</label>
            <%= f.input_field :kind_tea,  collection: Product::KIND_TEA, prompt: "Выберите вид фасовки", class:'form-control form-control-sm'%>
          </div>

          <div class="form-group row form-inline">
            <label for="inputSortTea" class="col-sm-4 col-form-label">Сорт чая</label>
             <%= f.input_field :sort_tea, class:"form-control form-control-sm", collection: Product::SORT_TEA, prompt: "Выберите сорт" %>
          </div>

          <div class="form-group row form-inline">
            <label for="File1" class="col-sm-4 col-form-label">Добавить изображение</label>
            <div class="col-sm-8">
              <%= f.input :image, as: :file, class:"form-control-file" , label: false, wrapper: false %>
            </div>
          </div>

          <hr class="mb-4 mt-5">
          <div class="form-group row">
            <div class="col-sm-8 ml-3">
              <%= f.button :submit, 'Добавить товар', class: 'btn btn-mint btn-lg' %>
            </div>
          </div>
        </form>
      </div>
      <% end %>
</main>
