
<!-- CAROUSEL -->
<div id="banner" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#banner" data-slide-to="0" class="active"></li>
    <li data-target="#banner" data-slide-to="1"></li>
    <li data-target="#banner" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("banner1.png", class: "d-block w-100")%>
    </div>
    <div class="carousel-item">
      <%= image_tag("carousel2.jpeg", class: "d-block w-100")%>
    </div>
    <div class="carousel-item">
      <%= image_tag("carousel3.jpg", class: "d-block w-100")%>
    </div>
  </div>
  <a class="carousel-control-prev" href="#banner" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#banner" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- MAIN -->
<div class="d-flex flex-column h-100">
  <main role="main" class="flex-shrink-0">
    <div class="container">
      <h1 class="mt-4">Горячее</h1>
      <p class="underhead mb-4">Самые выгодные предложения</p>

      <div class="d-flex flex-row flex-wrap justify-content-start">

        <!-- Card -->
        <% @products.each do |product| %>
        <div class="card mx-3">
          <div class="hover ehover1">
            <%= link_to image_tag(product.image_url(:thumb)), product, class:"img-responsive card-img-top" %>
            <div class="overlay d-flex flex-column">
              <div class="in-fav"><a href="#" class="float-right badge">В избранное</a></div>
              <div class="eye"><i><%= link_to '', product_path(product), class: "fas fa-eye"%></i>
               <br> <%= link_to 'Подробнее', product_path(product), class: "font-eye"%></div>

            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= link_to product.title, product, class:"" %></h5>
            <p class="card-text"><%=product.small_description%></p>
            <div class="container-fluid align-items-center">

              <a href="#" class="tag badge badge-pill white-tea">Белый</a>
              <a href="#" class="tag badge badge-pill discount">-30%</a>
              <p class="float-right wt">50г</p>
            </div>
            <div><hr class="featurette-divider"></div>

            <div class="container-fluid">
              <span class="card-text price"><%= number_to_currency(product.price,:locale => :ru) %></span>
              <%= button_to 'В корзину', line_items_path(product_id: product), class: 'in-cart btn float-right' %>
            </div>
          </div>
        </div>
        <% end %>
      </div>


      <div class="button d-flex justify-content-center">
        <%= link_to 'Перейти в каталог', catalog_url, class: "badge" %>
      </div>
      <hr class="featurette-divider">

      <div class="container main-block">
        <h1 class="my-4">О компании</h1>
        <p class="underhead about-us mb-4">У нас вы можете купить китайский чай в Архангельске или заказать его с доставкой в регионы России. Магазин TeaStore образовался в результате многолетнего увлечения чаем и его культурой. Наша цель — делать хороший китайский чай доступным, тем самым способствуя его распространению. Каждый год в течении трёх месяцчев мы проезжаем весь Китай в поисках чая и подбора ассортимента. Отсутствие цепочки посредников, отработанная логистика в Россию, знание рынка, умение подбирать чай, оптимизация арендных площадей и рабочего пространства в Москве, автоматизация внутренних процессов, создание условий хранения – всё это даёт возможность предлагать вам лучшую цену на китайский чай высочайшего качества.</p>


      </div>
    </div>
  </div>
</main>
</div>





