
  <main>
      <div class="container d-flex px-5 pt-5">
        <div class="my-5 mr-5">
          <%= link_to image_tag(@product.image_url(:default)), @product, class:"product-img" %>
          <div>
            <small>
              <a class="sys-btn pr-2"><%= link_to 'Редактировать', edit_product_path(@product), class: "sys-btn pr-2" %></a>
              <a class="sys-btn"><%= link_to 'Удалить', @product, method: :delete, data: { confirm: "Are you sure ?" }, class: "sys-btn" %></a>
            </small>
          </div>
        </div>
        <div class="m-5 container-costil-shirina">
          <h3> <%= @product.title %></h3>
          <p class="underhead-product-title"><%= @product.small_description%></p>
          <hr>
          <div class="d-flex">
            <a href="#" class="tag badge badge-pill green-tea tag-product">Зеленый</a>
            <a href="#" class="tag badge badge-pill year-tea tag-product">2018</a>
            <a href="#" class="tag badge badge-pill country-tea tag-product">Китай</a>
            <a href="#" class="tag badge badge-pill packing-tea tag-product">Рассыпной</a>
          </div>
          <p class="mt-4"><%= @product.small_description%></p>
          <div class="d-flex">
            <p class="mr-3">Фасовка:</p>
            <div class=" btn-group-toggle button" data-toggle="buttons">
              <label class="btn btn-secondary active">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> 7г
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="options" id="option2" autocomplete="off"> 25г
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="options" id="option3" autocomplete="off"> 50г
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="options" id="option3" autocomplete="off"> 100г
              </label>
            </div>
          </div>

          <hr class="mt-5 hr-width">
          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <h5 class="mr-3">Цена:</h5>
              <h5><%= number_to_currency(@product.price,:locale => :ru) %></h5>
            </div>
            <div>
              <%= button_to 'Добавить в корзину', line_items_path(product_id: @product), class: 'btn btn-bay mr-4' %>
            </div>
          </div>

        </div>

      </div>

      <hr class="featurette-divider">
      <div class="container px-5 py-3 descript-p">
        <h4>Вкус, цвет и аромат:</h4>
        <p>Насыщенный аромат орхидей. Здесь также угадываются легкие шоколадные ноты, которые в сочетании с цветами дают сложный глубокий аромат. Вкус напитка — насыщенный, маслянистый, с освежающим послевкусием.
        В Китае говорят: при первой заварке он дает яркий аромат, при второй — насыщенный вкус, при третьей — гармонию.</p>
        <h4>Как заваривать:</h4>
        <%= image_tag("zavar.jpg", :alt => "Способ заваривания", class: "mb-3") %>
        <p>Выбирайте мягкую, качественную воду для заваривания.
        Заваривайте чай проливами. Этот зеленый чай выдерживает до 8 проливов без потери вкуса.</p>
        <h4>Почему стоит купить:</h4>
        <p>Общеукрепляющий, тонизирующий чай, регулирует обмен веществ, расширяет сосуды и укрепляет их стенки, снижает холестерин, нормализует давление, стимулирует пищеварение, хорошо освежает. Китайцы считают, что он избавляет от чувства усталости.
        Чай Тай пин Хоу Куй купить и не прогадать с качеством не просто. Мы гарантируем прямые поставки из Китая и наш чай всегда свежий! Доставим вашу покупку по Москве курьером или почтой по всей России.</p>

      </div>

  </main>
