


    <tr>
      <td class="table-item-line">
        <%= image_tag(line_item.product.image_url(:thumb)) %>
        <span><%=line_item.product.title %></span>
      </td>
      <td><%=line_item.quantity%></td>
      <td><%= number_to_currency(line_item.product.price,:locale => :ru)%></td>
    </tr>



