<p id="notice"><%= notice %></p>

<h1>Коризна</h1>

<table style="border: 1px solid gray">


  <tr>
    <th>Заголовок</th>
    <th>Заголовок1</th>
  </tr>

  <% @line_items.each do |line_item| %>
  <tr>
    <td><%= line_item.product.title %></td>
    <td><%= line_item.cart.id %></td>
    <td><%= link_to 'Show', line_item %></td>
    <td><%= link_to 'Edit', edit_line_item_path(line_item) %></td>
    <td><%= link_to 'Destroy', line_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<!-- <table>
  <thead>
    <tr>
      <th>Продукт</th>
      <th>Cart</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @line_items.each do |line_item| %>
      <tr>
       <td>23</td>
        <td><%#= line_item.cart %></td>
        <td><%#= link_to 'Show', line_item %></td>
        <td><%#= link_to 'Edit', edit_line_item_path(line_item) %></td>
        <td><%#= link_to 'Destroy', line_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

  </tbody>
</table>

<br> -->

<%= link_to 'New Line Item', new_line_item_path %>
